/* Base */
:root{
    --twitter_blue: #1DA1F2;
    --twitter_grey: #F5F8FA;
    --blue: #1A73E8;
}

*{ 
    padding: 0px;
    margin: 0px;
    font-family: 'HelveticaNeueCyr';
    user-select: none;
    box-sizing: border-box;
}

html, body{
    width: 100%;
    height: 100%;
}

h1{
    font-weight: bold;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 30px;
    padding-bottom: 30px;
}

h3{
    font-weight: normal;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 30px;
    padding-bottom: 30px;
}

h4{
    margin: 0px;
}

a{
    color: var(--twitter_blue);
}

/* Layout */
.l-fixed-top{
    display: flex;
    align-self: flex-start;
}

.l-centered{
    display: flex;
    justify-self: center;
}

.l-main-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    max-width: 1140px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 80px;
    padding-bottom: 10px;
    margin-right: auto;
    margin-left: auto;
}

/* Modules */
.m-header{
    width: 100%;
    height: 50px;
    top: 0;
    position: fixed;
    justify-content: space-between;
}

.m-header__title{
    color: white;
    align-content: center;
}

.m-header__logo-container{
    display: flex;
    color: white;
    align-items: center;
}

.m-button{
    display: flex;
    justify-content: space-evenly;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.m-text-container{
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.m-profile{
    display: flex;
    width: 25%;
    justify-content: flex-end;
    padding-left: 15px;
    padding-right: 15px;
}

.m-profile__container{
    width: 50%;
}

.m-profile__picture{
    width: 40px;
    height: 40px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 50%;
    background-image: url('../img/ray.png');
    background-size: cover;
}

.m-profile__name{
    width: 100%;
    font-size: 15px;
    font-weight: bold;
    margin-top: 5px;
    margin-left: 5px;
}

.m-profile__username{
    width: 100%;
    font-size: 15px;
    margin-bottom: 5px;
    margin-left: 5px;
    color: var(--twitter_grey);
}

.m-navigation{
    width: 100%;
}

.m-navigation__tabs-container{
    height: 50px;
    width: 100%;
    background-color: #ffffff;
    position: sticky;
    top: 50px;
    display: flex;
    align-content: center;
}

.tab-content{
    min-height: 80%;
    display: flex;
    align-items: center;
}

.m-navigation__tabs{
    height: 40px;
}

.nav-link.active{
    background-color: var(--twitter_blue) !important;
    color: #ffffff !important;
}

.m-navigation__content{
    width: 100%;
    margin-top: 10px;
}

.m-loading{
    width: 30px;
    height: 30px;
    background-image: url(../img/loading.svg);
    background-size: cover;
}

/* Modifiers */
.m-header--blue{
    background-color: var(--blue);
}

.m-header--transparent-overlay{
    height: 100%;
    width: 100%;
    display: inherit;
    justify-content: inherit;
    background-color: rgba(0,0,0,0.50);
}

.m-icon--margin-right{
    margin-right: 5px;
}

.m--white{
    color: #ffffff;
}

.m-button--twitter{
    background-color: var(--twitter_blue) !important;
    color: #ffffff !important;
}

.m-button--blue{
    background-color: var(--blue);
    color: #ffffff;
}

/* Helpers */
.h-justify-center-content{
    display: flex;
    justify-content: center;
}

.h-align-center-content{
    display: flex;
    align-items: center;
}

.h-text-align-center{
    text-align: center;
    text-align: -webkit-center;
}

.h-overflow{
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.h-display-none{
    display: none;
}

.h-display-contents{
    display: contents;
}

.h-shadow{
    box-shadow: 0px 3px 6px -4px rgba(0,0,0,0.75);
}

.h-slide-bottom{
	animation: slide-bottom 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.h-slide-top{
	animation: slide-top 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes slide-bottom{
    0%{
        transform: translateY(-100px);
    }
    100%{
        transform: translateY(0);
    }
}

@keyframes slide-top{
    0%{
        transform: translateY(0);
    }
    100%{
        transform: translateY(-100px);
    }
}
  